<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Word-Project-Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>searchSeverlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchSeverlet</servlet-name>
    <url-pattern>/servlet/searchServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>outputSeverlet</servlet-name>
    <servlet-class>servlet.OutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>outputSeverlet</servlet-name>
    <url-pattern>/serverLet/outputServlet</url-pattern>
  </servlet-mapping>
</web-app>